

  
  .chatbox-icon {
    width: 60px;
    height: 60px;
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0.5);
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.9);
    }
  
    70% {
      transform: scale(1.2);
      box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
    }
  
    100% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
    }
  }
  
  .chatbox-icon img {
    width: 100%;
    height: 100%;
  }
  
  .chatbox-wapper {
    display: flex;
    width: 338px;
    height: 60vh;
    flex-direction: column;
    background-color: #f0f2f5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .chatbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    height: var(--chatbox-header-height);
    background-color: rgb(185, 56, 56);
    color: white;
  }

  .chatbox-header p {
      margin-right: auto;
  }
  
  .chatbox-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    margin: 5px;
  }
  
  .chatbox-inner {
    padding: 10px;
    flex-grow: 1;
    /* height: 252px; */
    overflow-y: auto;
  }
  
  .chatbox-inner::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  
  .chatbox-inner::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }
  
  .chatbox-inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d62929;
  }
  
  form {
    width: 100%;
    height: var(--chatbox-form-height);
    display: flex;
    /* border: none; */
    background: white;
    padding: 8px 16px;
  }
  
  form input {
    border: none;
    outline: none;
    flex: 1;
  }
  