.is-typing {
    /* width: 85px; */
    justify-content: space-around;
    display: flex;
}

.jump1,
.jump2,
.jump3,
.jump4,
.jump5 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: gray;
}

.jump1 {
    animation: typing 1s linear infinite;
    animation-delay: 0s;
}

.jump2 {
    animation: typing 1s linear infinite;
    animation-delay: 0.1s;
}

.jump3 {
    animation: typing 1s linear infinite;
    animation-delay: 0.2s;
}

.jump4 {
    animation: typing 1s linear infinite;
    animation-delay: 0.3s;
}

.jump5 {
    animation: typing 1s linear infinite;
    animation-delay: 0.4s;
}

@keyframes typing {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(0px);
    }

    35% {
        transform: translateY(10px);
    }

    45% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-10px);
    }

    75% {
        background-color: white;
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}